<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Masters in Computer Science</h3>
      <h4 class="content_heading">Georgia Institute of Technology, Atlanta</h4>
        <p class="content">Specialization in Machine Learning</p>
        <p class="content">Current GPA: <em>4.0/4.0</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/gt.png" width="80%">
      <p>(August 2019 - Present)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Bachelor of Technology in Computer Science and Engineering</h3>
      <h4 class="content_heading">West Bengal University of Technology, (Heritage Institute of Technology), Kolkata</h4>
        <p class="content">Passed with a GPA of 8.98/10</em></p>
        <p class="content">Class Rank: <em>3 (or top 2%)</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/WestBengalUniversity.jpg" width="50%">
      <p>(August 2013 - June 2017)</p>
    </div>
  </div>

</div>